.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
}
.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px; 
    border-color: lightslategray;
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    object-fit: cover;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
button{
    border-color: black;
    border: none;
    color: black;
}
.page-layout {
    display: grid;
    grid-template-areas: "header header" "sidebar main-content" "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
}
.header { 
    grid-area: header; 
    border: 1px solid black;
    padding: 10px;
    background-color: lightsteelblue;
}
.sidebar { 
    grid-area: sidebar; 
    border: 1px solid black;
    padding: 10px;
    background-color: lightskyblue;
}
.main-content { 
    grid-area: main-content;
    border: 1px solid black;
    padding: 10px; 
    background-color:lightblue;
}
.footer { 
    grid-area: footer;
    border: 1px solid black;
    padding: 10px; 
    background-color: lightcyan;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.gallery-item img {
    height: 200px;
    width: 100%;
    display: block;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 8px 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1 1 200px;
}
.portfolio-footer  {
    background-color: lightgray;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.portfolio img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}